*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.card-body h2
{
   
    color: #3faf28;
    font-family: "Poppins", sans-serif;
}

.label
{
    font-family: "Poppins", sans-serif;
    color: #2F155E;
}

.input
{
    font-family: "Poppins", sans-serif;
    color: #2F155E;
}

.img{
    width: 550px;
}

.label{
    width: 100%;
}

.select
{
  text-transform: uppercase;
}
