@media (max-width: 922px) {

    /* =============header============= */

    .main {
        height: 130vh;
    }

    .header-line {
        width: 79%;
    }

    /* =============Categories-card========== */

    .categories-btn {
        width: 80%;
        padding: 3px 0;
    }

    .categories-card-1 {
        margin-left: 120px;
    }


    /* =============footer============= */

    .footer-menu {
        padding-left: 0;
    }

    .widget-about img {
        max-width: 60%;
    }
}

@media (max-width: 768px) {

    /* =============header============= */

    .main {
        height: 140vh;
    }

    .header-line {
        width: 79%;
    }

    /* =============Categories-card========== */

    .categories-btn {
        width: 80%;
        padding: 3px 0;
    }

    .categories-card-1 {
        margin-left: 120px;
    }

    /* =============footer============= */

    .widget-about .contact-details {
        margin-left: 45px;
    }
}

@media (max-width: 600px) {

    /* =============header============= */

    .main {
        height: 140vh;
    }

    .header-line {
        width: 90%;
    }

    /* =============Categories-card========== */

    .categories-btn {
        width: 30%;
        padding: 3px 0;
    }

    .categories-card-1 {
        margin-left: 0px;
    }

    /* =============footer============= */

    .widget-about .contact-details {
        margin-left: 27px;
    }
}

@media (max-width: 480px) {

    /* =============header============= */

    .main {
        height: 130vh;
    }

    .header-line {
        width: 99%;
    }


    /* =============footer============= */

    .widget-about .contact-details {
        margin-left: 46px;
    }
}